NEXT_PUBLIC_URL="https://farcaster-v2-frame-template.vercel.app/"
NEXTAUTH_URL="https://farcaster-v2-frame-template.vercel.app/"
NEXTAUTH_SECRET=""
NEYNAR_API_KEY=""
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=""